.header {
    display: flex;
    border: 1px solid black;
    margin: 8px;
}

h1 {
    width: 100%;
    padding-left: 10px;
}

.buttons {
    padding: 5px;
    display: flex;
    align-items: center;
}

.help {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: white;
}

.help img {
    overflow: hidden;
    max-width: 40px;
    height: auto;
}

button {
    width: 100%;
}