<div class="keyboard">
    <div class="row">
      <button class="key" (click)="onKeyPress('q')">Q</button>
      <button class="key" (click)="onKeyPress('w')">W</button>
      <button class="key" (click)="onKeyPress('e')">E</button>
      <button class="key" (click)="onKeyPress('r')">R</button>
      <button class="key" (click)="onKeyPress('t')">T</button>
      <button class="key" (click)="onKeyPress('y')">Y</button>
      <button class="key" (click)="onKeyPress('u')">U</button>
      <button class="key" (click)="onKeyPress('i')">I</button>
      <button class="key" (click)="onKeyPress('o')">O</button>
      <button class="key" (click)="onKeyPress('p')">P</button>
    </div>
    <div class="row">
      <button class="key" (click)="onKeyPress('a')">A</button>
      <button class="key" (click)="onKeyPress('s')">S</button>
      <button class="key" (click)="onKeyPress('d')">D</button>
      <button class="key" (click)="onKeyPress('f')">F</button>
      <button class="key" (click)="onKeyPress('g')">G</button>
      <button class="key" (click)="onKeyPress('h')">H</button>
      <button class="key" (click)="onKeyPress('j')">J</button>
      <button class="key" (click)="onKeyPress('k')">K</button>
      <button class="key" (click)="onKeyPress('l')">L</button>
    </div>
    <div class="row">
      <button class="key enter" (click)="onEnter()">&#8629;</button>
      <button class="key" (click)="onKeyPress('z')">Z</button>
      <button class="key" (click)="onKeyPress('x')">X</button>
      <button class="key" (click)="onKeyPress('c')">C</button>
      <button class="key" (click)="onKeyPress('v')">V</button>
      <button class="key" (click)="onKeyPress('b')">B</button>
      <button class="key" (click)="onKeyPress('n')">N</button>
      <button class="key" (click)="onKeyPress('m')">M</button>
      <button class="key backspace" (click)="onBackspace()">&larr;</button>
    </div>
  </div>