<div class="main">
    <div class="puzzleContainer">
        <div class="puzzle">
            <h3>Starting Word</h3>
            <div *ngFor="let step of steps">
                <app-word word={{step}} [resetFunction] = "resetToWord"></app-word>
            </div>
            <app-word *ngIf="!solved" word={{currentLetters}}></app-word>
            <app-word word={{targetWord}}></app-word>
            <h3>Target Word</h3>
        </div>
    </div>
    <div class="enterWord">
        <p class="wordError">{{wordError}}</p>
        <app-keyboard (keyPress)="onKeyEntered($event)" (backspace)="onBackspace()" (enter)="onSubmitWord()"></app-keyboard>
    </div>
</div>
<app-modal *ngIf="solvedModalOpen" [closeFunction]="closeSolvedModal" heading="Puzzle Solved">
    <div>
        <div class="scores">
            <h2>You solved it in <span>{{steps.length + 1}}</span> steps</h2>
            <h4>Now try to find a better solution with less steps. Check back tomorrow for the best solution</h4>
        </div>
    </div>
</app-modal>