.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.puzzleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px; /* Adjust the padding-bottom value as needed */
  box-sizing: border-box;
  flex: 1 1 auto;
}

.enterWord {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  flex: 0 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h3 {
  text-align: center;
}

.wordError {
  color: red;
}
